.container{
    display: flex;
    justify-content: center;
    
}
form{
    width: 400px;
    padding: 40px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
    box-shadow: 5px 5px 5px 5px gray;
}
.box7{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.ajouter{
    height: 30px;
    border-radius: 5px;
    width: 70px;
    background-color:green;
    border: 2px solid green;
    color: aliceblue;
}
.ajouter:hover{
    box-shadow: 3px 3px 3px 3px gray;
    scale: 1.1;
}
.supremer{
    height: 30px;
    border-radius: 5px;
    width: 70px;
    background-color:brown;
    border: 2px solid brown;
    color: aliceblue;
}
.supremer:hover{
    box-shadow: 3px 3px 3px 3px gray;
    scale: 1.1;
}
