input{
    border:3px solid  red;
}

.para{
    color: red;
}

#error{
    background-color: rgb(247, 192, 220);
    color: rgb(72, 72, 9);
    width: 100%;
    padding: 15px 5px;
    text-align: start;
}