*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image: url("img2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background-color: rgba(39,39,39,0.4);
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39,0.6) , transparent);
    z-index: 100;
}
.logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style-type: none;
}
.menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover,.active{
    border-bottom: 2px solid #fff;
}
.button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background-color: rgba(255,255,255,0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background: rgba(255,255,255,0.7);
}
.btn:hover{
    background: rgba(255,255,255,0.3);
}

.btn.btn.white-btn:hover{
    background: rgba(255,255,255,0.5);;
}

.nav-menu-btn{
    display: none;
}

#form-box{
    position: relative;
    display: flex;
    align-items: center;
    width: 510px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}



.register-container{
    margin-top: 80px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.top span{
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.top span a{
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}

header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;

}
.two-froms{
    display: flex;
    gap: 10px;
}
.input-field{
    font-size: 15px;
    background: rgba(255,255,255,0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    margin: 10px;
}

.input-field:hover, .input-field:focus{
    background: rgba(255,255,255,0.24);
}

::-webkit-input-placeholder{
    color: #fff;
}

.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}
.submit{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border:none;
    border-radius: 50px;
    margin-left: 8px;
    cursor: pointer;
}

.submit:hover{
    background-color: rgba(240, 248, 255, 0.548);
}

.none{
    display: none;

}


